<%= image_tag("columns.png", :alt => "columns", :class => "columns") %>
<%= image_tag("columns.png", :alt => "columns2", :class => "columns2") %>

<p id="notice"><%= notice %></p>

<div class="user-profile">
  <h2>My Profile</h2>
  <div class="user-body">
    <div class="user-img">
    <%= image_tag @user.image_url %>
  </div>
  <div class="user-info">
    <p>
      <%= @user.name %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @user.age %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @user.location %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%= @user.gender %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @user.description %>
    </p>

    <p>
      <strong>Wallet:</strong>
You currently have <%= current_user.furnipoints %> furnipoints.
    </p>    

  </div>
  <div class="user-furnitures">
    <h3 style="margin-left: -10%;">My furniture</h3>
    <p>
      <%@user.furnitures.each do |furniture| %>
      <a href="/furnitures/<%=furniture.id%>"><img src="<%= furniture.image_url %>"/></a>
      <% end %>
    </p>
  </div>
</div>


<div class="user-links">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
</div>