<div class="arrow">
  <%= image_tag("arrow.png", :alt => "arrow", :class => "arrow") %>
</div>
<div class="arrow-quote">
  Sign up to take advantage of the best features!
</div>

<%= image_tag("columns.png", :alt => "columns", :class => "columns") %>
<%= image_tag("columns.png", :alt => "columns2", :class => "columns2") %>

<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">

       <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" id="first-img"><%= image_tag("bedroom-ff.jpg", :alt => "bedroom", :class => "home-img") %></div>
            <div class="carousel-caption">
                <h1>Trade existing furniture with ones that fit your new room.</h1>
                <!-- <h1><em>Find the best new picks with Fitting Furniture!</em></h1> -->
                <a href="/furniture"><button style="margin-top:15px" class="btn btn-warning">Explore Furniture for sale, or trade at the FurniMarket!</button></a>
            </div>
        </div>

        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" id="second-img"><%= image_tag("ebedroom-ff.jpg", :alt => "bedroom2", :class => "home-img") %></div>
            <div class="carousel-caption">
                <h1>Sell your furniture and purchase new ones with your furnipoints.</h1>
                <h1><em>If trade doesn't work, Fitting Furniture gives you the best alternatives.</em></h1>
            </div>
        </div>

        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" id="third-img"><%= image_tag("living-ff.jpg", :alt => "living", :class => "home-img") %></div>
            <div class="carousel-caption">
                <h1>Create your ideal room, and make new friends!</h1>
                <h1><em>Fitting Furniture is a place for many things.</em></h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>



<!-- 
<div class="jumbotron">
  <div class="container">
    <h1>Home#index</h1>
	<p>Find me in app/views/home/index.html.erb</p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1>Second jumbo</h1>
	<p>Second section of website</p>
  </div>
</div>

 -->