<%= image_tag("columns.png", :alt => "columns", :class => "columns") %>
<%= image_tag("columns.png", :alt => "columns2", :class => "columns2") %>

<div class="lottery container">

To participate in this lottery, you must pay 10 furnipoints. </br>

To start, click on the link below: </br>

<%= link_to home_lottery_gamble_path do %>
   <%= image_tag "gamble.jpg", class: "gamble" %>
<% end %>

<div class="furni-count">You currently have: <%= current_user.furnipoints %> furnipoints.
</div>

</div>