<div class="wishlist">

My wishlist:

count: <% @user_fav.each do |ufav| %> 
<%= ufav %>
<%= ufav.furniture_id %>, <%= ufav.user_id %> <br>
<% end %>

2count: <% @fav_furnis.each do |ufav| %> 
<%= ufav %>
<%= ufav.name %>

<% end %>





</div>