<div class="filtered-furni">
	<h2> Filtered for: <%= @furniturez.first.name %>s</h2>

    <a href="/furnitures"><button class="btn btn-warning back-btn">Back to furniture list</button></a>

    <% @furniturez.each do |furniture| %>

    <div class="furni-obj">
        <div class="furni-line1">
          <div class="furni-img">
            <a style="width:200px; height: 200px" href="/furnitures/<%= furniture.id %>">
            <img style="width:200px; height: 200px" src=<%= furniture.image_url %>/></a>
            <div class="descri-long">
              <a href="/furnitures/<%= furniture.id %>"><button style="margin-right: 5px; margin-left: -5px;" type="button" class="btn-group btn-group-xs btn-wishlist">View Details</button></a>
                <%= button_to "Save to Wishlist", add_wishlist_path, method: :post, class: "btn-group btn-group-xs btn-wishlist", params: { furniture_id: furniture.id, user_id: session[:user_id] } %>
            </div> 
          </div><!-- furni-img -->
          <div class="descri-short">
            <b>item:</b> <%= furniture.name %><br>
            <b>condition:</b> <%= furniture.condition %><br>
            <b>dimensions:</b> <%= furniture.dimensions %><br>
            <b>cost:</b> <%= furniture.furnipoints %> furnipts<br>
            <p class="trade-buy" style="margin-top:10px">
              <button type="button" class="btn btn-default btn-md openmodal" data-toggle="modal" data-target="#myModal" data-id="<%= furniture.furnipoints %>, <%= furniture.id %>">Buy</button>
              <button type="button" class="btn btn-default btn-md openmodal2" data-toggle="modal" data-target="#myModalTrade" data-id="<%= furniture.furnipoints %>, <%= furniture.id %>">Trade</button>
            </p>
          </div><!-- descri-short -->
        </div><!-- furni-line1 -->

        <div class="furni-links-index">
          <% if session[:user_id] == furniture.user_id %>
          <%= link_to 'Edit', edit_furniture_path(furniture) %> | <%= link_to "Delete", furniture, method: :delete, data: {confirm: "Are you sure?"}, id: 'delete' %> 
          <% end %>
        </div><!-- furni-links-index -->
      </div><!-- furni-obj -->

        <% end %>

</div><!-- filtered-furni --> </div>