<div class="container">
  <div class="furni-wrapper">
    <h2> Furnitures for Sales in your Area </h2>
    <% @furnitures.each do |furniture| %>

      <div class="furni-obj">
        <div class="furni-line1">
          <div class="furni-img">
            <a href="/furnitures/<%= furniture.id %>"><img style="width:200px; height: 200px" src=<%= furniture.image_url %>/></a>
          </div>
          <div class="descri-short">
            <b>item:</b> <%= furniture.name %><br>
            <b>condition:</b> <%= furniture.condition %><br>
            <b>dimensions:</b> <%= furniture.dimensions %><br>
            <b>cost:</b> <%= furniture.furnipoints %> furnipts<br>
          </div>
        </div>
        <div class="descri-long">
          <%= furniture.content %><br>
        </div>
      </div>

  <% end %>
  
  </div><!--furni-wrapper-->
  <br>

 <div class="new-furni"> <%= link_to 'New Furniture', new_furniture_path %> </div>
</div><!--container-->