<div class="container furni-container">
  <div class="furni-wrapper">
    <h2> Furniture for Sale in your Area </h2>
    <div class="filter">Filter By Type:
      <%= link_to "Beds", by_category_path(:type => "bed") %> | <%= link_to "Chairs", by_category_path(:type => "chair") %> | <%= link_to "Drawers", by_category_path(:type => "drawer") %> | <%= link_to "Desks", by_category_path(:type => "desk") %>
    </div>

   <div class="new-furni"> <%= link_to 'Add Furniture', new_furniture_path %> </div>

    <% @furnitures.each do |furniture| %>

        <div class="furni-obj">
          <div class="furni-line1">
          <div class="furni-img">
            <a style="width:200px; height: 200px" href="/furnitures/<%= furniture.id %>">
            <img style="width:200px; height: 200px" src=<%= furniture.image_url %>/></a>
            <div class="descri-long">
              <a href="/furnitures/<%= furniture.id %>"><button type="button" class="btn-group btn-group-xs btn-wishlist">View Details</button></a>
              <%= button_to "Save to Wishlist", wishlist_path, class: 'btn-group btn-group-xs btn-save', params: { furniture_id: furniture.id } %>
            </div> 
          </div><!-- furni-img -->
          <div class="descri-short">
            <b>item:</b> <%= furniture.name %><br>
            <b>condition:</b> <%= furniture.condition %><br>
            <b>dimensions:</b> <%= furniture.dimensions %><br>
            <b>cost:</b> <%= furniture.furnipoints %> furnipts<br>
            <p class="trade-buy" style="margin-top:10px">
              <button type="button" class="btn btn-default btn-md openmodal" data-toggle="modal" data-target="#myModal" data-id="<%= furniture.furnipoints %>, <%= furniture.id %>">Buy</button>
              <button type="button" class="btn btn-default btn-md openmodal2" data-toggle="modal" data-target="#myModalTrade" data-id="<%= furniture.furnipoints %>, <%= furniture.id %>">Trade</button>
            </p>
          </div><!-- descri-short -->
        </div><!-- furni-line1 -->

        <div class="furni-links-index">
          <% if session[:user_id] == furniture.user_id %>
          <%= link_to 'Edit', edit_furniture_path(furniture) %> | <%= link_to "Delete", furniture, method: :delete, data: {confirm: "Are you sure?"}, id: 'delete' %> 
          <% end %>
        </div><!-- furni-links-index -->
      </div><!-- furni-obj -->

  <% end %>
  
  </div><!--furni-wrapper-->
  <br>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Purchase this item</h4>
        </div>
        <div class="modal-body">
          This item costs 
            <input type="text" name="furniVal" id="furniVal" value="" readonly="readonly"/>
            furnipoints. Please select OK to confirm this purchase.  
            
            <% if current_user %>
              <form method="post" action="/purchase" class="purchase-form" data-remote="true">
                <input type="hidden" name="furniId" id="furniId" value=""/>
                <div><input class="btn btn-success ok-btn" value="OK" type="submit" /></div>
              </form>
            <% else %>
             <div class="login-plz-modal">Please login or signup to continue this purchase.</div>
           <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div><!--modal-footer-->
      </div>
      
    </div>
  </div>

  <!-- ModalTrade -->
  <div class="modal fade" id="myModalTrade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Trade this item</h4>
        </div>
        <div class="modal-body" style="text-align:center">
          Do you wish to trade this item for one of yours? </br>
          If so, please choose from your list of available items: 
          </br>
          <% if current_user %>
          <form method="post" action="/trade" class="trade-form" data-remote="true">
            <input type="hidden" name="furniId2" id="furniId2" value=""/>
            <div class="furni-imgs">
                <% @current_furni.each do |furni| %>
                <input type="radio" name="furnichosen" value="<%= furni.id %>"> <img style="width:100px; height: 100px" src=<%= furni.image_url %>/>
                <% end %>
            </div>
            <input type="submit" value="OK" class="btn btn-success ok-btn-radio">
          </form>
          <% else %>
            <div class="login-plz-modal">Please login or signup to continue this trade.</div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div><!--modal-footer-->
      </div>
      
    </div>
  </div>  


</div><!--container-->


<script>
$(document).on("click", ".openmodal", function () {
  console.log('purchase was clicked');
     var myModalData = $(this).data('id');
     console.log(myModalData);
     var myModalDataArr = myModalData.split(',')
     $(".modal-body #furniVal").val( myModalDataArr[0] );
     $(".modal-body form #furniId").val( myModalDataArr[1] );
});
$(document).on("click", ".openmodal2", function () {
  console.log('trade was clicked');
     var myModalData = $(this).data('id');
     console.log(myModalData);
     var myModalDataArr = myModalData.split(',')
     $(".modal-body form #furniId2").val( myModalDataArr[1] );
});
</script>