<p id="notice"><%= notice %></p>
<div class="container">
  <div class="furni-show">

    <div class="furni-top">
      <div class="furni-name"><h2><%= @furniture.name %></h2></div>

user id is: <%= @furniture.user_id %> 
      <div class="furni-links">
        <% if session[:user_id] == @furniture.user_id %>
        <%= link_to 'Edit', edit_furniture_path(@furniture) %> | <%= link_to "Delete", @furniture, method: :delete, data: {confirm: "Are you sure?"}, id: 'delete' %> | 
        <% end %>
        <%= link_to 'Back', furnitures_path %>
      </div>
    </div>

    <div class="furni-middle">

      <div class="furni-img">
        <img src=<%= @furniture.image_url %>/>
      </div>

      <div class="furni-descri">
        <p>
          <strong>Condition:</strong>
          <%= @furniture.condition %>
        </p>

        <p>
          <strong>Cost:</strong>
          <%= @furniture.furnipoints %> furnipoints
        </p>

        <p>
          <strong>Dimensions:</strong>
          <%= @furniture.dimensions %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @furniture.content %>
        </p>

        <hr size="3">

        <p class="new-comm">
            <% if current_user %>
          <div class="dropdown container">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Comment</button>
              <ul class="dropdown-menu">
                <form class="comment-form" action="/comments" method="post">
                  <div class="form-group">
                    <input type="text" name="comment[content]" class="form-control" id="content" placeholder="Enter comment"><br>
                    <input type="text" name="comment[user_id]" value="<%= current_user.id %>" class="form-control" id="content">
                  </div>
                  <button class="btn-success">Add Comment</button>
                </form>
              </ul>
            </div>
            <% else %>
            Please log in to post a comment.
            <% end %>
          
        </p>
      </div> <!-- furni-descri -->
    </div> <!--furni-middle -->

    <div class="furni-bottom">
        <%= render "comments/allcomments" %>
    </div>

  </div>
</div>
