<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @furniture.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @furniture.content %>
</p>

<p>
  <strong>Image:</strong>
  <img src=<%= @furniture.image_url %>/>
</p>

<p>
  <strong>Measurement:</strong>
  <%= @furniture.dimensions %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @furniture.condition %>
</p>

<%= link_to 'Edit', edit_furniture_path(@furniture) %> |
<%= link_to 'Back', furnitures_path %>
