<p id="notice"><%= notice %></p>
<div class="container">
  <div class="furni-show">

    <div class="furni-top">
      <div class="furni-name"><%= @furniture.name %></div>

      <div class="furni-links">
        <%= link_to 'Edit', edit_furniture_path(@furniture) %> |
        <%= link_to 'Back', furnitures_path %>
      </div>
    </div>

    <div class="furni-middle">

      <div class="furni-img">
        <img src=<%= @furniture.image_url %>/>
      </div>

      <div class="furni-descri">
        <p>
          <strong>Condition:</strong>
          <%= @furniture.condition %>
        </p>

        <p>
          <strong>Cost:</strong>
          <%= @furniture.furnipoints %> furnipoints
        </p>

        <p>
          <strong>Description:</strong>
          <%= @furniture.content %>
        </p>

        <p>
          <strong>Dimensions:</strong>
          <%= @furniture.dimensions %>
        </p>

        <p class="new-comm">
        
        </p>
      </div> <!-- furni-descri -->
    </div> <!--furni-middle -->

    <div class="furni-bottom">
      <p class="comm-history" style="margin-top: 100px">

        <%= render "comments/allcomments" %>
      </p>
    </div>

  </div>
</div>
