<p id="notice"><%= notice %></p>
<div class="container">
  <div class="furni-show">

    <div class="furni-top">
      <div class="furni-name"><h2><%= @furniture.name %></h2></div>


        <a href="/furnitures"><button class="btn btn-warning back-btn2">Back to furniture list</button></a>
      </div>
    

    <div class="furni-middle">

      <div class="furni-img">
        <img src=<%= @furniture.image_url %>/>
      </div>

      <div class="furni-descri">
        <p>
          <strong>Condition:</strong>
          <%= @furniture.condition %>
        </p>

        <p>
          <strong>Cost:</strong>
          <%= @furniture.furnipoints %> furnipoints
        </p>

        <p>
          <strong>Dimensions:</strong>
          <%= @furniture.dimensions %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @furniture.content %>
        </p>

        <hr size="3">

        <%= render "comments/newcomments" %>
 
      </div> <!-- furni-descri -->
            <div class="furni-links">
        <% if session[:user_id] == @furniture.user_id %>
        <%= link_to 'Edit', edit_furniture_path(@furniture) %> | <%= link_to "Delete", @furniture, method: :delete, data: {confirm: "Are you sure?"}, id: 'delete' %> | 
        <% end %>
      </div>
    </div> <!--furni-middle -->

    <div class="furni-bottom">
        <%= render "comments/allcomments" %>
    </div>

  </div>
</div>
