<p id="notice"><%= notice %></p>
<div class="container">
  <div class="furni-show">

    <div class="furni-top">
      <div class="furni-name"><h2><%= @furniture.name %></h2></div>


        <a href="/furnitures"><button class="btn btn-warning back-btn2">Back to furniture list</button></a>

            <div class="furni-links" style="margin-left: 60%">
              <% if session[:user_id] == @furniture.user_id %>
              <%= link_to 'Edit', edit_furniture_path(@furniture) %> | <%= link_to "Delete", @furniture, method: :delete, data: {confirm: "Are you sure?"}, id: 'delete' %> 
              <% end %>
            </div>        
      </div>
    

    <div class="furni-middle">

      <div class="furni-img">
        <img src=<%= @furniture.image_url %>/>
          <p class="trade-buy" style="margin-top:10px">
            <button type="button" class="btn btn-default btn-md openmodal" data-toggle="modal" data-target="#myModalPurchase" data-id="<%= @furniture.furnipoints %>, <%= @furniture.id %>">Buy</button>
            <button type="button" class="btn btn-default btn-md openmodal2" data-toggle="modal" data-target="#myModalExchange" data-id="<%= @furniture.furnipoints %>, <%= @furniture.id %>">Trade</button>
            
          </p>
      </div>

      <div class="furni-descri">
        <p>
          <strong>Condition:</strong>
          <%= @furniture.condition %>
        </p>

        <p>
          <strong>Cost:</strong>
          <%= @furniture.furnipoints %> furnipoints
        </p>

        <p>
          <strong>Dimensions:</strong>
          <%= @furniture.dimensions %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @furniture.content %>
        </p>

        <hr size="3">

        <%= render "comments/newcomments" %>
 
      </div> <!-- furni-descri -->

    </div> <!--furni-middle -->

    <div class="furni-bottom">
        <%= render "comments/allcomments" %>
    </div>

  </div>
</div>


  <!-- ModalPurchase -->
  <div class="modal fade" id="myModalPurchase" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Purchase this item</h4>
        </div>
        <div class="modal-body">
          This item costs 
            <input type="text" name="furniVal" id="furniVal" value="" readonly="readonly"/>
            furnipoints. Please select OK to confirm this purchase.  
            
            <% if current_user %>
              <form method="post" action="/purchase" class="purchase-form" data-remote="true">
                <input type="hidden" name="furniId" id="furniId" value=""/>
                <div><input class="btn btn-success ok-btn" value="OK" type="submit" /></div>
              </form>
            <% else %>
             <div class="login-plz-modal">Please login or signup to continue this purchase.</div>
           <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div><!--modal-footer-->
      </div>
      
    </div>
    
  </div>

<script>
$(document).on("click", ".openmodal", function () {
  console.log('purchase was clicked');
     var myModalData = $(this).data('id');
     console.log(myModalData);
     var myModalDataArr = myModalData.split(',')
     $(".modal-body #furniVal").val( myModalDataArr[0] );
     $(".modal-body form #furniId").val( myModalDataArr[1] );
});
$(document).on("click", ".openmodal2", function () {
  console.log('trade was clicked');
     var myModalData = $(this).data('id');
     console.log(myModalData);
     var myModalDataArr = myModalData.split(',')
     $(".modal-body form #furniId2").val( myModalDataArr[1] );
});
</script>
