<!DOCTYPE html>
<html>
<head>
  <title>FittingFurniture</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <%= image_tag("dark-wood.jpg", :alt => "wooden", :class => "wooden") %>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag("logo.png", :alt => "logo", :class => "logo") %>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Item">
        </div>
        <button type="submit" class="btn btn-default">Go!</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="/furnitures">Explore</a></li>
        
        <li class="dropdown" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Zone <span class="caret"></span></a>
          <ul class="dropdown-menu user-zone">
            
            <% if current_user %>
            <li><a href="/users/<%= current_user.id %>">My Profile</a></li>
            <% else %>
            <li><a href="/users">All Profiles</a></li>
            <% end %>
            <li><a href="/home/wishlist">My Wishlist</a></li>
            <li><a href="/furnitures/new">Upload Item</a></li>
            
            <li role="separator" class="divider"></li>
            <li><a href="/home/settings">Settings</a></li>
          </ul>
        </li>

        <% if session[:user_id] %>
        <li><%= link_to "Logout", logout_path, method: "delete" %>
          </ul>
        </li>
        <% end %>

        <% if session[:user_id] == nil %>
      	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</span></a>
          <ul class="dropdown-menu auth-dropdown">
              <%= form_tag '/login', :class=> "login-form" do %>
              <p style="font-size: 25px">Log In</p>
              <hr>              
                Email: <%= text_field_tag :email %>
                Password: <%= password_field_tag :password %>
                <%= submit_tag "Submit" %>

            <% end %>             
          </ul>
        </li>

      	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signup</span></a>
          <ul class="dropdown-menu auth-dropdown">
          
            
     			  <form class="signup-form" action="/users" method="post">
    			    <p style="font-size: 25px">Create an account</p>
    			    <hr>
                <%= form_for 'users'  do |f| %>

                    name: <%= f.text_field :name %> 
                    age: <%= f.text_field :age %>
                    location: <%= f.text_field :location %>
                    description: <%= f.text_field :description %>

                  <%= f.radio_button :gender, 'female', :checked => true %> 
                  <%= label :gender_female, 'Female' %>
                  <%= f.radio_button :gender, 'male' %>
                  <%= label :gender_male, 'male' %>
                  <%= f.radio_button :gender, 'other' %>
                  <%= label :gender_other, 'Other' %> </br>

                    email: <%= f.text_field :email %>

                    Password: <%= f.password_field :password %>
                    Password Confirmation: <%= f.password_field :password_confirmation %>
                  <%= f.hidden_field :furnipoints, :value => 500 %>
                    <%= f.submit "Submit" %>

                  <% end %>
			     </form> 
          </li>   
          <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>	

<div class="auth-info">
  <% if current_user %>
  Signed in as <%= current_user.name %>
<% else %>
  Welcome, newbie! Have you signed up yet?
<% end %>

</div>

<%= yield %>

<footer>
  <%= image_tag("dark-wood.jpg", :alt => "wooden", :class => "wooden") %>
	<ul class="nav navbar-nav navbar-left">
		<li><a href="/home/contact">Contact</a></li>
		<li><a href="/home/careers">Careers</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="copyright"><a href="#">Copyright 2016</a></li>
	</ul>
</footer>

</body>
</html>
